body {
   color: rgba(0,0,0,0.87);
   font-family: Roboto, Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
   background:
 }

 h1{
   font-size: 40px;
   margin-top: 100px;
   margin-bottom: 100px;
   text-align:center;
 }

 p{
   margin-top: 3px;
   margin-bottom: 3px;
 }

 #back_button{
   top: 28%;
   left: 10%;
   position: absolute;
   background: green;
 }

 #next_button{
   top: 28%;
   right: 10%;
   position: absolute;
   background: green;
 }

 .contents{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   background: red;
 }

 .contents_tytle{
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
 }

 .image_view{
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 30px;
   width: 30%;
   height: 30%;
   background: blue;
}

 .record{
   margin-top: 20px;
   margin-bottom: 30px;
   background: yellow;
 }
